* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color:blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    font-family: 'Barlow', sans-serif;
}

.hidden {
    width: 1px;
    height: 1px;
    visibility: hidden;
}

.rename {
    font-size: 72px;
    max-width: 300px;
    background-color: transparent;
    visibility: hidden;
    width: 1px;
    height: 1px;
    
}

.rename.visible {
    visibility: visible;
    width: 270px;
    height: 64px;
}

.players {
    font-size: 72px;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-top: -100px;
    line-height: 90%;
}

.player_cont {
    display: flex;
    max-width: 400px;
}

.player_cont button {
    width: 32px;
    height: 32px;
    border: 2px solid black;
    margin-top: auto;
    margin-left: 10px;
    background-image: url(img/rename.png);
    background-size: contain;
    background-color: transparent;
}

.players>.winner {
    font-size: 96px;
}

.gameboard {
    height: 600px;
    width: 600px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
}

.gameboard>div {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart_button {
    background-color: transparent;
    border: 1px solid black;
    height: 80px;
    width: 130px;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
}

.restart_button:hover {
    background-color: black;
    color: blanchedalmond;
}
